<%- include('./layout/header'); -%>
<main class="tutor-booking-section wrap-lg">
  <div class="container">
    <!-- Step Tracking -->
    <div class="tracking">
      <div class="row row-cols-lg-5 row-cols-3 g-5 justify-content-center">
        <div class="text-brand-03">
          <div class="d-flex border-bottom border-brand-03 border-5 ps-0 rounded-1 pb-1">
            <div class="d-flex align-items-center">
              <span class="material-symbols-outlined icon-fill fs-3 me-2 d-none d-sm-block"> shopping_cart </span>
              <div>
                <p class="fs-8">Step 1/3</p>
                <p class="fw-semibold fs-8 fs-lg-6">確認預約資訊</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-brand-02">
          <div class="d-flex border-bottom border-brand-02 border-5 ps-0 rounded-1 pb-1 h-100">
            <div class="d-flex align-items-center mb-auto">
              <span class="material-symbols-outlined icon-fill fs-3 me-2 d-none d-sm-block"> credit_card </span>
              <div>
                <p class="fs-8">Step 2/3</p>
                <p class="fw-semibold fs-8 fs-lg-6">確認付款</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-brand-02">
          <div class="d-flex border-bottom border-brand-02 border-5 ps-0 rounded-1 pb-1 h-100">
            <div class="d-flex align-items-center mb-auto">
              <span class="material-symbols-outlined icon-fill fs-3 me-2 d-none d-sm-block"> check_circle </span>
              <div>
                <p class="fs-8">Step 3/3</p>
                <p class="fw-semibold fs-8 fs-lg-6">付款結果</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-8 mt-lg-12">
      <div class="col-lg-7">
        <div class="input-card card shadow rounded-2 p-6 p-lg-10">
          <h2 class="fs-5 fs-lg-3">預約資訊</h2>
          <form class="mt-6">
            <div class="row row-cols-md-2">
              <div class="mb-md-12 mb-6">
                <label for="tutor" class="form-label">
                  <h3 class="fs-6 fw-medium">預約老師</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="tutor" value="卡斯伯 Casper" disabled />
              </div>
              <div class="mb-md-12 mb-6">
                <label for="bookingType" class="form-label">
                  <h3 class="fs-6 fw-medium">預約類型</h3>
                </label>
                <input
                  type="text"
                  class="form-control border-0 bg-white p-0 rounded-0 text-gray-02"
                  id="bookingType"
                  value="<%= bookingService %>"
                  disabled />
              </div>
              <div class="mb-md-5 mb-6">
                <label for="date" class="form-label">
                  <h3 class="fs-6 fw-medium">預約日期</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="date" value="2024/08/11" disabled />
              </div>
              <div class="mb-md-5 mb-6">
                <label for="timeslot" class="form-label">
                  <h3 class="fs-6 fw-medium">預約時段</h3>
                </label>
                <input type="text" class="form-control border-0 bg-white p-0 rounded-0 text-gray-02" id="timeslot" value="10:00-11:00" disabled />
              </div>
            </div>
            <hr />

            <div class="mt-10">
              <% if (bookingService === "程式碼檢視") { %>
              <div class="mb-8">
                <label for="sourceCodeURL" class="form-label">希望接受檢視的程式碼儲存庫<span class="text-danger ms-1">*</span></label>
                <input class="form-control rounded-1" id="sourceCodeURL" placeholder="https://github.com/testUser/todolist" />
              </div>

              <% } %>

              <div>
                <label for="userInput" class="form-label">希望接受指導的項目<span class="text-danger ms-1">*</span></label>
                <textarea class="form-control rounded-1" id="userInput" rows="15" style="resize: none" placeholder="請輸入希望接受指導的項目"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- 電腦版明細卡片 -->
      <div class="col-lg-5 d-none d-lg-block">
        <div class="input-card card shadow rounded-2 p-6 p-lg-10">
          <h2 class="fs-5 fs-lg-3">預約明細</h2>
          <table class="table mt-8">
            <tbody>
              <tr class="f-between-center">
                <th scope="row" class="border-0">
                  <h4 class="fs-6 fs-lg-5 fw-medium">小計</h4>
                </th>
                <td class="border-0 text-end">
                  <h4 class="fs-6 fs-lg-5 fw-medium">NT$ 250</h4>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table mt-8">
            <tbody>
              <tr class="f-between-center pb-8">
                <th scope="row" class="border-0">
                  <h4 class="fs-6 fs-lg-5 fw-medium">折扣</h4>
                </th>
                <td class="border-0 text-end">
                  <h4 class="fs-6 fs-lg-5 fw-medium">-NT$ 0</h4>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-end">
            <input type="text" class="form-control border-0 border-bottom rounded-0" id="discountCode" placeholder="輸入折扣碼" style="width: 30%" />
            <button class="btn border-0 p-0 text-gray-03 border-bottom rounded-0">
              <span class="material-symbols-outlined"> near_me </span>
            </button>
          </div>

          <table class="table border-top mt-8">
            <tbody>
              <tr class="f-between-center py-5">
                <th scope="row" class="border-0">
                  <h4 class="fs-6 fs-lg-5">總計</h4>
                </th>
                <td class="border-0 text-end">
                  <h4 class="fs-2">NT$ 250</h4>
                </td>
              </tr>
            </tbody>
          </table>

          <a href="tutor-booking-payment-step2-<%= bookingService ==="一對一教學" ? "1on1" : "code-review" %>.html" class="mt-8">
            <button class="btn btn-brand-03 slide-right-hover f-center rounded-2 w-100">
              前往付款
              <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 mt-1 ms-1"> arrow_forward </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./layout/footer'); -%>

<!-- 手機版明細卡片 -->
<div class="sticky-bottom bg-white border-top d-lg-none px-4 py-5">
  <div class="f-between-center">
    <div>
      <h4 class="fs-6 fs-lg-5 fw-medium">小計</h4>
      <h4 class="text-brand-03 fs-lg-2 fs-3 mt-1">NT$ 250</h4>
    </div>

    <a href="tutor-booking-payment-step2-<%= bookingService ==="一對一教學" ? "1on1" : "code-review" %>.html">
      <button class="btn btn-brand-03 slide-right-hover f-center rounded-2">
        前往付款
        <span class="material-symbols-outlined icon-fill fs-6 fs-md-5 mt-1 ms-1"> arrow_forward </span>
      </button>
    </a>
  </div>
</div>
